.DS_Store
Thumbs.db

# Node
node_modules/
package-lock.json

# Environment files
.env

# Vercel
.vercel/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.log
*.tmp
.DS_Store
.vercel
.env*.local
